@import 'variable.scss';

.button-container {
  display: flex;
  justify-content: center;
}

.submit {
  font-family: $ff_title !important;
  color: $white !important;
//  text-transform: uppercase;
//  background-color: $btn_bg !important;
  background-color: $red !important;

}

:host /deep/ .mat-button-toggle-checked {
  outline: none !important;
  background-color: $red !important;
  color: $white !important;
}

.mat-raised-button, .mat-button {
  border-radius: 5px;
  outline: none;
}

.mat-button-toggle-button {
  color: $btn_bg;
}


mat-button-toggle-group {
  border-radius: 0 !important;
  box-shadow: none !important;
}

mat-button-toggle {
  border: 1px solid $white;
  border-radius: 5px;
  
  &.mat-button-toggle-disabled {
    cursor: default;
    border: 1px solid $white !important;
    color: $btn_bg;

    &.mat-button-toggle-checked  {
      background-color: $sepia !important;
      color: $white;
    }
  }
}

.grey-button {
  background-color: $sepia !important;
  color: $white;
//  text-transform: uppercase;
}
